{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>Daftar</title>
{% endblock meta %}
{% block content %}
<div class="flex items-center justify-center min-h-screen" style="background-color: #F4FEFF;">
    <div class="container mx-auto max-w-md shadow-md rounded-lg overflow-hidden bg-white mt-20">
        <div class="py-8 px-6 sm:px-10">
            <div class="mb-8 text-center">
                <h2 class="text-2xl font-bold leading-9 tracking-tight text-gray-900">Daftar</h2>
            </div>
            <form class="space-y-6" action="{% url 'auth:register' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                    <input type="text" id="username" name="username" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Username" required>
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                    <input type="password" id="password" name="password" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="••••••••" required>
                </div>
                <div>
                    <label for="nama" class="block mb-2 text-sm font-medium text-gray-900">Nama Lengkap</label>
                    <input type="text" id="nama" name="nama" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Nama Lengkap" required>
                </div>
                <div class="mb-4">
                    <label for="peran" class="block mb-2 text-sm font-medium text-gray-900">Peran</label>
                    <div class="relative">
                        <select id="peran" name="peran" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option value="Ayah">Ayah</option>
                            <option value="Ibu">Ibu</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                            <svg class="fill-current h-4 w-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.70711 7.29289L10 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68342 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                

                <div class="mb-4">
                    <label for="domisili" class="block mb-2 text-sm font-medium text-gray-900">Domisili</label>
                    <div class="relative">
                        <select id="domisili" name="domisili" class="block appearance-none w-full bg-white border border-gray-300 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.70711 7.29289L10 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68342 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="agama" class="block mb-2 text-sm font-medium text-gray-900">Agama</label>
                    <div class="relative">
                        <select id="agama" name="agama" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option value="Islam">Islam</option>
                            <option value="Kristen">Kristen</option>
                            <option value="Katolik">Katolik</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Buddha">Buddha</option>
                            <option value="Khonghucu">Khonghucu</option>
                            <option value="-">Memilih tidak menyebutkan</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.70711 7.29289L10 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68342 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div id="umur" class="mb-4">
                    <label for="umur" class="block mb-2 text-sm font-medium text-gray-900">Umur</label>
                    <input type="number" id="umur" name="umur" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Umur">
                </div>

                <div id="golongan-darah" class="mb-4">
                    <label for="golongan-darah" class="block mb-2 text-sm font-medium text-gray-900">Golongan Darah</label>
                    <div class="relative">
                        <select id="golongan-darah" name="golongan-darah" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="AB">AB</option>
                            <option value="O">O</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.70711 7.29289L10 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68342 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div id="kondisi-ibu" class="mb-4">
                    <label for="kondisi-ibu" class="block mb-2 text-sm font-medium text-gray-900">Kondisi Ibu</label>
                    <div class="relative">
                        <select id="kondisi-ibu" name="kondisi-ibu" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option value="Hamil">Hamil</option>
                            <option value="Menyusui">Menyusui</option>
                            <option value="Tidak">Tidak keduanya</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.70711 7.29289L10 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68342 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div id="umur-kehamilan" class="mb-4">
                    <label for="umur-kehamilan" class="block mb-2 text-sm font-medium text-gray-900">Umur Kehamilan (dalam minggu)</label>
                    <input type="number" id="umur-kehamilan" name="umur-kehamilan" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Umur kehamilan">
                </div>
                <div id="umur-bayi" class="mb-4">
                    <label for="umur-bayi" class="block mb-2 text-sm font-medium text-gray-900">Umur Bayi (dalam bulan)</label>
                    <input type="number" id="umur-bayi" name="umur-bayi" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Umur bayi">
                </div>

                <div id="jenis-kelamin" class="mb-4">
                    <label for="jenis-kelamin" class="block mb-2 text-sm font-medium text-gray-900">Jenis Kelamin Bayi</label>
                    <div class="relative">
                        <select id="jenis-kelamin" name="jenis-kelamin" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.70711 7.29289L10 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68342 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-6 border border-blue-500 hover:border-transparent rounded-full">
                        Daftar
                    </button>
                </div>
            </form>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400 mt-5">
                Sudah punya akun? <a href="{% url 'auth:login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Masuk disini</a>
            </p>
        </div>
    </div>
</div>                
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const peran = document.getElementById('peran');
        const umur = document.getElementById('umur');
        const goldar = document.getElementById('golongan-darah');
        const kondisi = document.getElementById('kondisi-ibu');
        const umurKehamilan = document.getElementById('umur-kehamilan');
        const umurBayi = document.getElementById('umur-bayi');
        const jenisKelamin = document.getElementById('jenis-kelamin');

        function updateFieldsForPeran(selectedValue) {
            console.log(goldar.value)
            console.log(jenisKelamin.value)
            console.log(kondisi.value)
            console.log("Peran selected:", selectedValue);
            if (selectedValue === 'Ibu') {
                umur.classList.remove('hidden');
                goldar.classList.remove('hidden');
                kondisi.classList.remove('hidden');
                umurKehamilan.classList.remove('hidden');
                umurBayi.classList.add('hidden');
                jenisKelamin.classList.add('hidden');
            } else {
                umur.classList.add('hidden');
                goldar.classList.add('hidden');
                kondisi.classList.add('hidden');
                umurKehamilan.classList.add('hidden');
                umurBayi.classList.remove('hidden');
                jenisKelamin.classList.remove('hidden');
            }
        }

        function updateFieldsForKondisi(selectedValue) {
            console.log("Kondisi selected:", selectedValue);
            if (selectedValue === 'Hamil') {
                umurKehamilan.classList.remove('hidden');
                umurBayi.classList.add('hidden');
                jenisKelamin.classList.add('hidden');
            } else if (selectedValue === 'Menyusui') {
                umurKehamilan.classList.add('hidden');
                umurBayi.classList.remove('hidden');
                jenisKelamin.classList.remove('hidden');
            } else {
                umurKehamilan.classList.add('hidden');
                umurBayi.classList.add('hidden');
                jenisKelamin.classList.add('hidden');
            }
        }

        peran.addEventListener('change', function() {
            const selectedValue = this.value;
            updateFieldsForPeran(selectedValue);
        });

        kondisi.addEventListener('change', function() {
            const selectedValue = this.value;
            updateFieldsForKondisi(selectedValue);
        });

        // Initialize the form based on default selected values
        updateFieldsForPeran(peran.value);
    });
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownMenu = document.getElementById('dropdown-menu');
    const searchInput = document.getElementById('search-input');
    const dropdownItemsContainer = document.getElementById('dropdown-items-container');

    // Fetch JSON data and populate the dropdown
    fetch('json/kota.json')
        .then(response => response.json())
        .then(data => {
            if (data.status === 200) {
                data.result.forEach(item => {
                    const aTag = document.createElement('a');
                    aTag.textContent = item.text;
                    aTag.className = 'block px-4 py-2 text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer rounded-md';
                    dropdownItemsContainer.appendChild(aTag);
                });
            }
        })
        .catch(error => console.error('Error fetching dropdown items:', error));

});
</script>
{% endblock content %}                