{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Discussion</title>
{% endblock meta %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div class="min-h-screen" style="background-color: #f4feff;">
    <div>
        <img src="{% static 'cuate.png' %}" class="absolute top-0 right-0 max-w-[50vw] max-h-[480px] z-10 pointer-events-none">

        <div class="mb-8 lg:ml-20 relative z-20 max-w-[40vw]">
            <h1 class="pt-8 text-left font-bold text-5xl pr-black max-h-full">Mulai Berdiskusi dan Explore Event Parenting</h1>
        </div>
    </div>

    <button data-modal-target="static-modal" data-modal-toggle="static-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 text-center" type="button">
        Add Discussion
    </button> 
    <form action="{% url 'forum:discussion' %}" method="GET" class="mb-4">
        <input type="text" name="q" value="{{ query }}" placeholder="Search discussions..." class="border p-2 rounded w-full">
        <button type="submit" class="hidden">Search</button>
    </form>
  <!-- Main modal -->
  <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full mb-8">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 pb-6">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-center text-gray-900 dark:text-white">
                    Tambah Diskusi
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="static-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
              <form action="{% url 'forum:add_discussion'%}" method="POST">
                  <div class="pb-4">
                      <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Judul Diskusi</label>
                      <input type="text" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ judul }}">
                  </div>
                  <div class="pb-4">
                      <label for="body" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Isi Diskusi</label>
                      <textarea id="body" name="body" rows="10" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{{ body }}</textarea>                    
                  </div>
                 
                  <div class="flex justify-center mb-8">
                      <button type="submit" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Simpan</button>
                      <button data-modal-hide="static-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Batal</button>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>

    <div class="flex flex-col items-center space-y-4 pb-4 relative z-20">
        {% for item in discussion_item %}
        <a href="{% url 'forum:get_discussion_by_id' item.pk %}" class="w-3/5 max-w-sm lg:max-w-full lg:flex rounded-lg shadow-lg no-underline">
            <div class="border-r border-b border-l border-gray-400 lg:border-0 bg-white rounded-lg p-4 flex flex-col justify-between leading-normal w-full">
                <div class="flex items-center justify-between text-gray-600 text-sm mb-4">
                    <p class="font-bold">{{ item.fields.user.username }}</p>
                    <p>{{ item.fields.date }}</p>
                </div>
                <div class="mb-4">
                    <div class="text-gray-900 font-bold text-xl mb-2">{{ item.fields.title }}</div>
                    <p class="text-gray-700 text-base">{{ item.fields.body | truncatewords:25 }}</p>
                </div>
            </div>
        </a>
        {% empty %}
        <p>No discussions found.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
